.login {
  height: 100%;
}

.login-box {
  width: 20vw;
  padding: 0 40px;
  box-sizing: border-box;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  position: relative;
  top: 45%;
  left: 10%;
  transform: translate(-10%, -45%);

  .el-form-item {
    margin-bottom: 26px;
  }
}

.login-title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
  margin-top: 40px;
  color: #92c892;
  font-weight: 700;
}

.login-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 26px;
  .is-checked+.el-checkbox__label {
    color: #606266 !important;
  }
  .el-checkbox__label {
    font-size: 12px;
    line-height: 0;
  }
}

.login-forget, .signup {
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: #8673eb;
  }
}

.signup {
  margin-left: 10px;
}

.login-signup {
  text-align: center;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 30px;
  margin-top: 26px;

  &::before {
    content: '';
    display: block;
    height: 1px;
    background-color: #ccc;
  }
}