.w-btn {
  cursor: pointer;
  width: 100%;
  height: 32px;
  padding: 8px 15px;
  background-color: #92c892;
  border-radius: 4px;
  white-space: nowrap;
  color: #fff;
  &:hover {
    color: #fff;
    background: linear-gradient(to right, #f4f5f7, rgba(8, 131, 8, 0.4784313725), rgba(28, 139, 28, 0.4039215686), rgba(38, 138, 38, 0.4039215686));
    background-size: 400%;
    animation: bgcAnimation .5s ease forwards;
  }
}

@keyframes bgcAnimation {
  0% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 16% 50%;
  }
}