.previewStyle {
  width: 100% !important;
  padding: 2% 12%;
  box-sizing: border-box;

  .drag-move {
    background-color: #fff;
    margin-bottom: 0;
    padding: 0;

    .drag-move-del {
      display: none;
    }
  }

  .draggable-box {
    height: auto;
    padding: 0;
  }

  .grid-content {
    border: none;
  }

  .table-td {
    border: 1px solid #ccc;
  }

  .drag-move,
  .drag-move-del,
  .drag-move-item {
    cursor: unset;
  }
}

@media print{
  .btn{
    display: none;
  }

  .batch-table {
    table,
    tbody,
    thead,
    table + div {
      width: 100% !important;
    }

    colgroup {
      position: absolute;
      width: 100% !important;
    }
  }
}