.previewStyle {
  width: 100% !important;
  padding: 2% 12%;
  box-sizing: border-box;

  .drag-move {
    background-color: #fff;
    margin-bottom: 0;
    cursor: unset;

    .drag-move-del {
      display: none;
    }
  }

  .draggable-box {
    height: auto;
  }

  .grid-content {
    border: none;
  }

  .table-td {
    border: 1px solid #ccc;
  }
}

@media print{
  .printBtn{
    display: none;
  }
}