.drag-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-right: -10px;
  
  .drag-item {
    cursor: pointer;
    width: 28%;
    padding: 8px 0;
    text-align: center;
    border-radius: 4px;
    background-color: #e0e3e985;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
